WSUNOEE/XSD/AutenticarUsuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <xsd:element name="AutenticarUsuario" type="AutenticarUsuarioType"/>
  <xsd:complexType name="AutenticarUsuarioType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="NombreConexion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Clave" type="xsd:string" />      
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>

