WSUNOEE/XSD/EjecutarSP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <xsd:element name="EjecutarSP" type="EjecutarSPType"/>
  <xsd:complexType name="EjecutarSPType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="NombreConexion" type="xsd:string" >
        <xsd:annotation>
          <xsd:documentation>Nombre de la conexion a crear</xsd:documentation>
        </xsd:annotation>
      </xsd:element> 
      <xsd:element minOccurs="1" maxOccurs="1" name="Nombre_SP" type="String255" >
        <xsd:annotation>
          <xsd:documentation>Nombre de sp a ejecutar</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Parametros_SP">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Parametro" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>     
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name ="String30">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name ="String255">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
